# Ignore list
# najskor som zakazal vsetko

*

#  a potom som povolil len to co som potreboval
!*.php

!include
!include/*
!classes
!classes/*
!classes/Page/*
!classes/Validator/*
!sprava
!sprava/*
!vlastnosti
!vlastnosti/*

!.gitignore
!.htaccess

# nakoniec som zakázal jednotlivé súbory ktoré nechcem zverejňovať
inc.dBconnect.php