# Ignore list
# najskor som zakazal vsetko

*

#  a potom som povolil len to co som potreboval
!*.php

!classes
!classes/*
!classes/Page/*
!classes/Validator/*

!errorpages

!include
!include/*

!sprava
!sprava/*

!spravca-suborov
!spravca-suborov/*
!translation.json

!personal
!personal/*

!user

!vlastnosti
!vlastnosti/*

!.gitignore
!.htaccess

!dist
!dist/*
!dist/css/*
!adminlite.css

# nakoniec som zakázal jednotlivé súbory ktoré nechcem zverejňovať
inc.dBconnect.php